* text=auto eol=lf

*.rs       text eol=lf
*.toml     text eol=lf
*.yml      text eol=lf
*.yaml     text eol=lf
*.json     text eol=lf
*.md       text eol=lf
*.kt       text eol=lf
*.kts      text eol=lf
*.swift    text eol=lf
*.py       text eol=lf
*.sh       text eol=lf
*.xml      text eol=lf

*.png      binary
*.jpg      binary
*.jpeg     binary
*.icns     binary
*.jar      binary
